/* General styles - put these straight into your stylesheet */

body {
  margin: 0;
}
html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: black;
}

/* Selectors to be matched up with rulesets */
/*.card article img*/
/*.card footer*/
/*.card header*/
/*.card*/
/* Rulesets to be matched up with selectors */

.card {
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: blue;
  border: 0.2em solid black;
  border-radius: 1.5em;
}
.card h2, .card p {
  margin: 0;
}
.card header, .card footer {
  height: 3em;
  padding: 1em;
}
.card header {
  background-color: cadetblue;
  border-radius: 1.5em 1.5em 0 0;
}
.card footer {
  background-color: cadetblue;
  border-radius: 0 0 1.5em 1.5em;
}
.card header h2 {
  font-size: 2em;
  line-height: 1;
}
.card footer p {
  font-size: 1em;
  line-height: 2;
}
.card article  {
  height: 10em;
  background-color: cadetblue;
  border: 2em solid blueviolet;

}
.card article img {
  max-height: 100%;
  float: right;
}
.card article p {
  padding: 1em;
  color: blac);
}
